.root {
  padding-top: 73px;
}

.title {
  margin-bottom: 34px;
  font-size: 35px;
  line-height: 41px;
  letter-spacing: 3px;
  text-align: center;
}

.pagination {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
