.root {
  padding-top: 73px;
}

.search {
  width: 100%;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
