$greenBtn: #73d677;
$yellowBtn: #f2cb07;
$third: #f5db13;
$primary: #f2b807;
$second: #f28f16;
$danger: #d93e30;
$white: #f2f2f2;
$dark: #212121;
$black: #000000;
$tabletWith: 768px;
$mobileWith: 375px;
$stile: #a1a1a1;
$rock: #a1a1a1;
$grass: #70a83b;
$bug: #70a83b;
$ice: #a2cff0;
$water: #a2cff0;
$fire: #f76545;
$fighting: #f76545;
$dragon: #f76545;
$normal: #76aadb;
$gosth: #76aadb;
$electric: #f7c545;
$ground: #9b897b;
$posion: #a974bc;
$psychic: #a974bc;
$fairy: #a974bc;
$ghost: #a974bc;
$m-xl: 120px;
$m-lg: 96px;
$m-md: 80px;
$m-sm: 64px;
$m-es: 32px;
